<% layout('layouts/boilerplate') %>
<%- include('../flash/flash.ejs') %> 
    <div class="authentication-container">
    <div class="container-auth">
      <h1 class="heading">Create Account</h1>
      <div class="box">
        <div class="main">
          <div class="third-party-login">
            <button
              class="auto-signin google"
              onclick="window.location.href='/auth/google'"
            >
              <span class="Google-auth">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg"
                  class="auto-signin-icon"
                  alt="Google logo"
                />
                Sign in with Google
              </span>
            </button>
          </div>
          <div class="divider"></div>

          <form action="/signup" class="details" method="POST">
            <label class="auth-label" for="name">Name:</label>
            <input
              type="text"
              id="name"
              name="name"
              placeholder="Enter your name"
              required
            />

            <label class="auth-label" for="newUsername">Email:</label>
            <input
              type="email"
              id="newUsername"
              name="email"
              placeholder="Enter your email"
              required
            />

            <label class="auth-label" for="phoneNumber">phone:</label>
            <input
              type="text"
              id="phoneNumber"
              name="phone"
              placeholder="Enter your phone"
              required
            />

            <label class="auth-label" for="newPassword">Password:</label>
            <input
              type="password"
              id="newPassword"
              name="password"
              placeholder="Enter your password"
              required
            />
            <!-- 
                    <label class="auth-label" for="confirmPassword">Confirm Password:</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm your password"> -->

            <button type="submit" onclick="animateButton(this)" class="auth-submit">
              Create Account
            </button>
          </form>

          <div class="other-options">
            <a href="/login" class="sign-in"
              >Already have an account? Sign in</a
            >
            <a href="/forgot" class="forgot-password"
            >Forgot password?</a
          >
          </div>
        </div>
      </div>
    </div>
  </div>
    <script>
      function animateButton(button) {
        button.classList.add("button-clicked");
        setTimeout(() => {
          button.classList.remove("button-clicked");
        }, 300); // Adjust the duration to match the transition duration
      }
    </script>

