<style>
 
</style>

<header class="header" id="header">
  <nav class="navbar">
    <div class="upper-container">
      <div class="mobile-left">
        <div class="burger" id="burger">
          <i class="fa-sharp fa-solid fa-bars"></i>
        </div>
        <div class="logo-container">
          <a href="/">
            <img
              src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/fkheaderlogo_plus-055f80.svg"
              alt="Logo" />
          </a>
        </div>
      </div>
      <div class="menu-mobile" id="menu">
        <div class="menu-inner">
          <div class="dropdown">
            <span class="menu-item">
              <a href="#" class="menu-link">
                <i class="fa-light fa-user s-icons"></i>digamber
              </a>
            </span>
            <div class="dropdown-menu">
              <div class="dropdown-item"><i class="fa-light fa-user icons"></i> Profile</div>
              <div class="dropdown-item"><i class="fa-light fa-cube icons"></i> Orders</div>
              <div class="dropdown-item"><i class="fa-light fa-heart icons"></i> Wishlist</div>
              <div class="dropdown-item"><i class="fa-thin fa-map-location-dot icons"></i> Addresses</div>
              <div class="dropdown-item"><i class="fa-sharp fa-light fa-tag icons"></i> Coupon</div>

              <% if (currentUser) { %>

                <div class="dropdown-item">
                  <a href="/logout"> <i class="fa-regular fa-arrow-right-from-bracket icons"></i> Logout</a>
                </div>
                <% } %>
              
            </div>
          </div>
          <span class="menu-item"><a href="#" class="menu-link">Return <br /> & Order</a></span>
          <span class="menu-item"><a href="#" class="menu-link"><i class="fa-light fa-cart-shopping s-icons"></i>
            </a></span>
        </div>
      </div>
    </div>
    <div class="search">
      <form class="search-form" action="/search" method="GET">
        <input class="search-input" type="text" name="query" id="search-input" placeholder="Search"
          oninput="fetchSuggestions()" />
        <button type="submit" class="search-submit">
          <i class="fa-light fa-magnifying-glass s-icons"></i>
        </button>
      </form>
      <ul class="suggestions-dropdown" id="suggestions-dropdown"></ul>
    </div>

    <div class="menu" id="menu">
      <div class="menu-inner">
        <div class="dropdown">
          <strong>
          <% if (!currentUser) { %>
            <span class="menu-item" style="white-space: nowrap;">
              <a href="/login" class="menu-link">
                <i class="fa-light fa-user s-icons" style="margin: 3px;"></i>
               Sign In
                <i class="fa-regular fa-chevron-down s-icons"></i>
              </a>
            </span>
            <% } %>
              <% if (currentUser) { %>
                <span class="menu-item" style="white-space: nowrap;">
                  <a href="/" class="menu-link">
                    <i class="fa-light fa-user s-icons"></i>
                    <%= currentUser.username %>
                      <i class="fa-regular fa-chevron-down s-icons"></i>
                  </a>
                </span>

                <% } %>
              </strong> 
                  <div class="dropdown-menu">
                    <div class="dropdown-item"><i class="fa-light fa-user icons"></i> Profile</div>
                    <div class="dropdown-item"><i class="fa-light fa-cube icons"></i> Orders</div>
                    <div class="dropdown-item"><i class="fa-light fa-heart icons"></i> Wishlist</div>
                    <div class="dropdown-item"><i class="fa-thin fa-map-location-dot icons"></i> Addresses</div>
                    <div class="dropdown-item"><i class="fa-sharp fa-light fa-tag icons"></i> Coupon</div>
                    <% if (currentUser) { %>

                      <div class="dropdown-item">
                        <a href="/logout"> <i class="fa-regular fa-arrow-right-from-bracket icons"></i> Logout</a>
                      </div>
                      <% } %>
                  </div>
        </div>
        <span class="menu-item"><a href="#" class="menu-link">Return & Order</a></span>

        <span class="menu-item"><a href="/cart/view" class="menu-link">
          <i class="fa-light fa-cart-shopping s-icons cart-total-item"></i>
            Cart</a>
            <span id="cart-quantity"><span id="cart-quantity-value"></span></span>
          </span>
           
      </div>
    </div>
  </nav>
</header>
<nav class="secondary-nav">
  <ul class="navigation-items">
    <li><a href=""> <strong> Home</strong></li></a>
    <li><a href=""> <strong> About</strong></li></a>
    <li><a href=""> <strong> Reach</strong></li></a>
    <li><a href=""> <strong> Electronic</strong></li></a>
    <li><a href=""> <strong> Footwear</strong></li></a>
    <li><a href=""> <strong> Item</strong></li></a>
  </ul>
  
</nav>

<script>
  async function fetchSuggestions() {
    const input = document.getElementById('search-input');
    const dropdown = document.getElementById('suggestions-dropdown');
    const query = input.value.trim();

    if (query.length < 3) {
      dropdown.innerHTML = '';
      dropdown.style.display = 'none'; // Hide the dropdown if the query is less than 3 characters
      return;
    }

    try {
      const response = await fetch(`/search?query=${query}&suggestions=true`);
      const suggestions = await response.json();

      if (suggestions.length > 0) {
        dropdown.innerHTML = suggestions.map(suggestion => `
        <li onclick="redirectToProduct('${suggestion._id}', '${suggestion.slug}')">
          <img src="${suggestion.images[0]}" alt="${suggestion.title}" class="suggestion-image" />
          <span>${suggestion.title}</span>
        </li>
      `).join('');
        dropdown.style.display = 'block'; // Show the dropdown when there are results
      } else {
        dropdown.innerHTML = '';
        dropdown.style.display = 'none'; // Hide the dropdown if there are no results
      }
    } catch (err) {
      console.error('Error fetching suggestions:', err);
      dropdown.innerHTML = '';
      dropdown.style.display = 'none'; // Hide the dropdown in case of error
    }
  }

  function redirectToProduct(id, slug) {
    window.location.href = `/products/${id}/${slug}`;
  }

  document.addEventListener('click', (event) => {
    const suggestionsDropdown = document.getElementById('suggestions-dropdown');
    if (!suggestionsDropdown.contains(event.target) && event.target.id !== 'search-input') {
      suggestionsDropdown.innerHTML = '';
      suggestionsDropdown.style.display = 'none'; // Hide the dropdown when clicking outside
    }
  });
  async function fetchCartQuantity() {
      try {
        const response = await fetch('/cart/quantity', {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json'
          },
        
        });
        const data = await response.json();
        if (response.ok) {
          document.getElementById('cart-quantity-value').textContent = data.totalQuantity;
        } else {
          console.error('Failed to fetch cart quantity:', data.error);
        }
      } catch (error) {
        console.error('Error fetching cart quantity:', error);
      }
    }
    fetchCartQuantity();

</script>