<style>
/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 999;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}

/* Side Menu */
.side-menu {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background: #fff;
  color: #333;
  overflow-y: auto;
  transition: left 0.3s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.side-menu.open {
  left: 0;
}

.side-menu-header {
  font-weight: 900;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #fff;
  background: #293241;
}
.side-menu-username{
  
}
.close-btn {
  font-size: 24px;
  cursor: pointer;
}

.side-menu-options {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.side-menu-options li {
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
}

.side-menu-options li a {
  color: #333;
  text-decoration: none;
  display: block;
  font-weight: 500;
}

.side-menu-options li a:hover {
  background: #f9f9f9;
}

/* Disable body scroll when side menu is open */
body.no-scroll {
  overflow: hidden;
}

</style>
<header class="header" id="header">
  <nav class="navbar">
    <div class="upper-container">
      <div class="mobile-left">
        <div class="burger" id="burger">
          <i class="fa-sharp fa-solid fa-bars" style="color: white;"></i>
        </div>
        <div class="logo-container">
          <a href="/" style="width: 150x; height: fit-content;" >
            <h3 style="color: white;"><i>URBANMART</i></h3>
          </a>
        </div>
      </div>
      <div class="menu-mobile" id="menu">
        <div class="menu-inner">
          <div class="dropdown">
            <span class="menu-item">
              <strong>
                <% if (!currentUser) { %>
                  <span class="menu-item" style="white-space: nowrap;">
                    <a href="/login" class="menu-link">
                      <i class="fa-light fa-user s-icons" style="margin: 3px;"></i>
                      Sign In
                      <i class="fa-regular fa-chevron-down s-icons"></i>
                    </a>
                  </span>
                <% } %>
                <% if (currentUser) { %>
                  <span class="menu-item" style="white-space: nowrap;">
                    <a href="/" class="menu-link">
                      <i class="fa-light fa-user s-icons"></i>
                      <!-- <i class="fa-regular fa-chevron-down s-icons"></i> -->
                    </a>
                  </span>
                <% } %>
                </strong> 
            </span>
            <div class="dropdown-menu">
              <a href="/profile"><div class="dropdown-item"><i class="fa-light fa-user icons"></i> Profile</div></a>
              <div class="dropdown-item"><i class="fa-light fa-cube icons"></i> Orders</div>
             <a href="/wishlist"> <div class="dropdown-item"><i class="fa-light fa-heart icons"></i> Wishlist</div></a>
              <a href="/user/view-addresses"><div class="dropdown-item"><i class="fa-thin fa-map-location-dot icons"></i> Addresses</div></a>
              <div class="dropdown-item"><i class="fa-sharp fa-light fa-tag icons"></i> Coupon</div>
              <% if (currentUser) { %>
                <a href="/logout">
                <div class="dropdown-item">
                  <i class="fa-regular fa-arrow-right-from-bracket icons"></i> Logout
                </div>
              </a>
              <% } %>
            </div>
          </div>
          <span class="menu-item"><a href="#" class="menu-link">Return <br /> & Order</a></span>
          <a href="/cart/view" class="menu-link"><span class="menu-item"><i class="fa-light fa-cart-shopping s-icons"></i></span></a>
        </div>
      </div>
    </div>
    <div class="search">
      <form class="search-form" action="/search" method="GET">
          <input class="search-input" type="text" name="query" id="search-input" placeholder="Search" oninput="fetchSuggestions()" />
          <button type="submit" class="search-submit">
              <i class="fa-light fa-magnifying-glass s-icons"></i>
          </button>
      </form>
      <ul class="suggestions-dropdown" id="suggestions-dropdown"></ul>
  </div>
    <div class="menu" id="menu">
      <div class="menu-inner">
        <div class="dropdown">
          <strong>
          <% if (!currentUser) { %>
            <span class="menu-item" style="white-space: nowrap;">
              <a href="/login" class="menu-link">
                <i class="fa-light fa-user s-icons" style="margin: 3px;"></i>
                Sign In
                <i class="fa-regular fa-chevron-down s-icons"></i>
              </a>
            </span>
          <% } %>
          <% if (currentUser) { %>
            <span class="menu-item" style="white-space: nowrap;">
              <a href="/" class="menu-link">
                <i class="fa-light fa-user s-icons"></i>
                <%= currentUser.name %>
                <i class="fa-regular fa-chevron-down s-icons"></i>
              </a>
            </span>
          <% } %>
          </strong> 
          <div class="dropdown-menu">
            <a href="/profile"><div class="dropdown-item"><i class="fa-light fa-user icons"></i> Profile</div></a>
            <div class="dropdown-item"><i class="fa-light fa-cube icons"></i> Orders</div>
           <a href="/wishlist"> <div class="dropdown-item"><i class="fa-light fa-heart icons"></i> Wishlist</div></a>
            <a href="/user/view-addresses"><div class="dropdown-item"><i class="fa-thin fa-map-location-dot icons"></i> Addresses</div></a>
            <div class="dropdown-item"><i class="fa-sharp fa-light fa-tag icons"></i> Coupon</div>
            <% if (currentUser) { %>
              <a href="/logout">
              <div class="dropdown-item">
                <i class="fa-regular fa-arrow-right-from-bracket icons"></i> Logout
              </div>
            </a>
            <% } %>
          </div>
        </div>
        <span class="menu-item"><a href="#" class="menu-link">Return & Order</a></span>
        <span class="menu-item">
      
            <a href="/cart/view" class="menu-link">
              <div class="cart-icon-wrapper">
                <i class="fa-light fa-cart-shopping s-icons cart-total-item"></i>
                <!-- <span id="cart-quantity">
                  <span id="cart-quantity-value"></span>
                </span> -->
              </div>
              Cart
            </a>
        </span>
        
      </div>
    </div>
  </nav>
</header>

<nav class="secondary-nav">
  <ul class="navigation-items">
    <li><a href=""><strong>Home</strong></a></li>
    <li><a href=""><strong>About</strong></a></li>
    <li><a href=""><strong>Reach</strong></a></li>
    <li><a href=""><strong>Electronic</strong></a></li>
    <li><a href=""><strong>Footwear</strong></a></li>
    <li><a href=""><strong>Item</strong></a></li>
  </ul>
</nav>

<!-- Side Menu -->
<div class="side-menu" id="side-menu">
  <div class="side-menu-header">
    <div>
      <% if(currentUser) { %>
      <span class="side-menu-username">
        <i class="fa-light fa-user s-icons"></i>
      Hello, <strong><%=currentUser.name.toUpperCase()%></strong>
      </span>
      <% } %>
      <% if(!currentUser) { %>
      <span>
      <a href="/login"> Sign</a>
      </span>
      <% } %>
    </div>
    <div class="side-menu-close">
    <span class="close-btn" id="close-btn">&times;</span>
  </div>
  </div>
  <ul class="side-menu-options">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">Categories</a></li>
    <li><a href="#">Cart</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="#">Orders</a></li>
    <li><a href="#">Wishlist</a></li>
    <li><a href="#">Addresses</a></li>
    <li><a href="#">Coupons</a></li>
  </ul>
</div>