<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Recommendations</title>
</head>
<body>
    <h1>Recommended Products for You</h1>
    <ul>
        <% products.forEach(product => { %>
            <li><%= product.title %> - <%= product.sellingPrice %></li>
        <% }) %>
    </ul>
</body>
</html>
