:root {
    --primary-color: #ffffff;
    --secondary-color: #ffffff;
    --background-color: #fff;
    --text-color: #ffffff;
    --footer-padding: 2rem;
    --footer-border-color: #ddd;
}

.footer {
    margin-top:3rem;
    background-color: #2e3849;
    color: var(--text-color);
    padding: var(--footer-padding) 0;
    border-top: 1px solid var(--footer-border-color);
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.footer-section {
    /* flex: 1 1 200px; */
    margin-bottom: 1.5rem;
    
}

.footer-section h4 {
    font-size: 1.2rem;
    margin-bottom: 0.75rem;
    color: var(--primary-color);
}

.footer-section p,
.footer-section ul {
    font-size: 0.9rem;
    color: var(--secondary-color);
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 0.5rem;
}

.footer-section ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.1rem;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: var(--primary-color);
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.social-icons li {
    list-style: none;
}

.social-icons li a {
    font-size: 1.5rem;
    color: var(--secondary-color);
    transition: color 0.3s;
}

.social-icons li a:hover {
    color: var(--primary-color);
}

.footer-bottom {
    text-align: center;
    padding: 1rem 0;
    font-size: 0.8rem;
    color: var(--secondary-color);
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-section {
        margin-bottom: 2rem;
    }
}
