/* General styling for the header */
.header {
  background-color: #ffffff; /* Light shade of white */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow */
  padding: 0.6rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;

}

/* General styling for the navbar container */
.navbar {
  display: flex;
  align-items: center;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
  justify-content: space-around;
}

/* Styling for the brand (logo) */
.brand {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #333; /* Adjust color as needed */
  margin-bottom: 0.5rem;
}

/* Styling for the search bar */
.search {
  position: relative; /* Ensure the dropdown is positioned relative to this container */
  width: 50rem;
  margin: 0 2rem;
}

.search-form {
  display: flex;
  justify-content: center;
}

.search-input {
  width: 100%;
  padding: 0.8rem;
  border: none;
  outline: none;
  background-color: #f3f6fd;
  border-radius: 4px 0 0 4px;
  font-size: 1rem;
}

.search-input:focus {
  outline: none;
}

.search-submit {
  padding: 0.5rem 1rem;
  border: none;
  border-left: none;
  background-color: #f3f6fd;
  border-radius: 0 4px 4px 0;
  color: #333;
  cursor: pointer;
  font-size: 1rem;
}

.search-submit i {
  font-size: 1rem;
}

/* Suggestions dropdown */
.suggestions-dropdown {
  display: none;
  position: absolute;
  top: 100%; /* Position below the search input */
  left: 0; /* Align to the left edge of the search input */
  width: 100%; /* Ensure the width matches the search input */
  background-color: white;
  max-height: 350px;
  overflow-y: auto;
  z-index: 1000;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow instead of border */
}


.suggestions-dropdown li {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 10px;
  cursor: pointer;
}
.search-history-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* padding: 10px; */
}
.remove-link{
  color: rgb(0, 76, 255);
  cursor: pointer;
}
.remove-link:hover{
  text-decoration: underline;
}
.suggestions-dropdown li:hover {
  background-color: #f1f1f1;
}

.suggestion-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

/* Drop Down */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  font-size: 1rem;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  top: 100%;
  left: 0;
  z-index: 1000;
  width: 12rem;
  height: fit-content;
}

.dropdown:hover .dropdown-menu {
  display: block; /* Show dropdown menu on hover */
}

.dropdown .fa-chevron-down {
  transition: transform 0.3s ease-in-out;
}

.dropdown:hover .fa-chevron-down {
  transform: rotate(180deg);
}

.dropdown-item {
  display: block;
  padding: 1rem 1.5rem;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.icons {
  margin-right: 1rem;
  font-size: 1rem;
}

/* Menu styling */
.menu {
  display: flex;
  justify-content: center;
  width: 28rem;
}

.menu-inner {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu-item {
  margin: 0 1rem;
}
.profile-currentUser{
  cursor: pointer;
}
.menu-link {
  text-decoration: none;
  color: #000000; /* Adjust color as needed */
  font-size: 1.1rem;
}

/* Burger menu styling */
.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-mobile {
  display: none;
}

.menu-inner > span {
  white-space: nowrap;
}

.menu-link > i {
  margin-right: 0rem;
}

/* Responsive styling for screens less than 800px */
@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
  }

  .search {
    width: 100%;
    margin: 1rem 0;
  }

  .menu {
    display: none;
  }

  .menu-mobile {
    display: block;
  }

  .burger {
    display: flex;
    font-size: 1.4rem;
    margin-right: 1rem;
  }

  .upper-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .mobile-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
  }

  .menu-inner {
    display: flex;
    align-items: center;
  }
}

.s-icons {
  font-size: 1.1rem;
  margin-right: 0.4rem;
}

@media (max-width: 600px) {
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    font-size: 1rem;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    top: 100%;
    margin-top: 0px;
    margin-left: -36px;
    left: 50;
    z-index: 1000;
    width: 13rem;
    height: fit-content;
  }
}

@media (max-width: 550px) {
  .menu-item {
    margin: 0 0.4rem;
  }

  .menu-link {
    font-size: 0.9rem;
  }

  .logo-container img {
    width: 100px;
  }
  .navbar {
    padding: 0 0.4rem;
  }
  .burger {
    margin-right: 0rem;
  }
}

@media (max-width: 400px) {
  .menu-link {
    font-size: 0.8rem;
  }

  .s-icons {
    font-size: 1.1rem;
    margin-right: 0.2rem;
  }
}

@media (max-width: 300px) {
  .menu-link {
    font-size: 0.7rem;
  }
}

.secondary-nav {
  background: #ffffff;
  min-height: 40px;
}

.navigation-items {
  max-width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: rgb(0, 0, 0);
  align-items: center;
  height: 40px;
  font-size: 0.8rem;
}

@media (max-width: 876px) {
  .navigation-items {
    max-width: 100%;
  }
}

.cart-icon-wrapper {
  position: relative;
  display: inline-block;
}

#cart-quantity {
  position: absolute;
  top: -14px;
  right: 4px;
  background-color: red;
  color: rgb(0, 0, 0);
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
}

.cart-total-item {
  position: relative;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 999;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}

/* Side Menu */
.side-menu {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background: #fff;
  color: #333;
  overflow-y: auto;
  transition: left 0.3s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.side-menu.open {
  left: 0;
}

.side-menu-header {
  font-weight: 900;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #fff;
  background: #293241;
}
.side-menu-username{
  
}
.close-btn {
  font-size: 24px;
  cursor: pointer;
}

.side-menu-options {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.side-menu-options li {
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
}

.side-menu-options li a {
  color: #333;
  text-decoration: none;
  display: block;
  font-weight: 500;
}

.side-menu-options li a:hover {
  background: #f9f9f9;
}

/* Disable body scroll when side menu is open */
body.no-scroll {
  overflow: hidden;
}
.history-icon{
  /* font-size: 1.5rem; */
  margin-right: 0.4rem;
}